#navbar {
    background-color: rgb(73, 9, 126);
    padding: 30px 20px;
    color: aliceblue;
    margin: 0;
    margin-bottom: 50px;
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(26, 26, 26);
}

h1, h3 {
    font-family: "Archivo Black", sans-serif;
    color: aliceblue;
    text-align: center;
}

.navlogo {
    width: 100px;
    height: 100px;
}

.navh1 {
    margin-left: 350px;
}

.quadrado {
    padding: 50px;
    margin: 20px;
    background-color: rgba(73, 9, 126, 0.637);
    border-radius: 30px;
}

.quadrado img {
    width: 35px;
    height: auto;
    display: block;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 50px;
}


.flex {
    display: flex;
    position: static;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 50px;
}

.flex-exemplo{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    margin-top: 50px;
    gap: 20px;
    border: 1px solid rgba(148, 17, 255, 0.637);
}

.inline-flex{
    display: inline-flex;
}

.inlineflex{
    display: inline flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 30px;
}

.inline-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 120px);
    gap: 30px;
}

.tabelinha {
    display: table;
    margin: 0 auto;
    border-spacing: 10px;
}

.linha {
    display: table-row;
}

.celula {
    display: table-cell;
    padding: 10px;
    background-color: rgba(73, 9, 126, 0.637);
    color: white;
    border-radius: 5px;
}






.flow-root{
    display: flow-root;
}

.blockflow{
    display: flow-root;
}

.blockflowroot{
    display: flow-root;
}

.inlineflow{
    display: inline flow-root;
}

.inlineflowroot{
    display: inline flow-root;
}











footer{
    text-align: center;
    background-color: rgba(73, 9, 126, 0.637);
    color: aliceblue;
    padding: 10px;
    margin-top: 50px;
}

.navimg{
    margin-left: 300px;
    color: aliceblue;
    margin-top: 30px;
}