#navbar {
    background-color: rgb(73, 9, 126);
    padding: 30px 20px;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 50px;
    display: flex;
    position: sticky;
    top:0;
    z-index: 1000;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(26, 26, 26);
}

h1 {
    font-family: "Archivo Black", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.6);
}

h3 {
    font-family: "Archivo Black", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.6);       
    margin: 30px auto;      
} 

h2::after {
    content: "HTML";       
    position: absolute;
    top: -12px;
    right: -45px;
    background-color: rgb(115, 66, 155);
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #000; 
    text-shadow: none;
    transition: 0.3s;
}

h3:hover::after {
    transform: scale(1.2) rotate(5deg);
}

.navlogo {
    position:relative;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.navlogo:hover {
    transform: scale(1.1);
}

.navh1 {
    margin: auto;
}

.quadrado {
    padding: 50px;
    margin: 20px;
    background-color:rgb(50, 0, 88);
    border-radius: 30px;
    box-shadow:0 10px 15px rgba(0,0,0,0.6);

}

.quadrado:hover{
    transform:scale(1.1);
    transition:0.3s;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.flex-exemplo{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.inline-flex{
    display: inline-flex;
}

.inlineflex{
    display: inline flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.block-grid{
    display: block grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    justify-content: center;
}

.inline-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 120px);
    margin-left: 35%;
}


.tabelinha {
    display: table;
    margin: 0 auto;
    border: 2px solid rgb(255, 255, 255);
}

.linha {
    display: table-row;
}

.celula {
    display: table-cell;
    padding: 10px 20px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.flowroot{
    display: flow-root;
}

.blockflow{
    display: block flow-root;
}

.blockflowroot{
    display: block flow-root;
}

.inlineflow{
    display: inline flow-root;
    margin-left: 46%;
}

.inlineflowroot{
    display: inline flow-root;
    margin-left: 46%;
}

footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(73,9,126);
    padding:20px;
}

.footer-text{
    text-align:center;
    color:white;
}

.footer-img img{
    width:120px;
}

.navimg{
    display: inline-block;
    position: relative; 
    color: rgb(255, 255, 255);
    margin-top: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.navimg:hover {
    transform: scale(1.1);
}

.oi-fixed{
    position: fixed;
    bottom:20px;
    right:20px;
    width:175px;
}

.intro{
    text-align: center;
    color: white;
    width: 60%;
    margin: 40px auto 80px auto;
}

.intro h2{
    font-family: "Archivo Black", sans-serif;
    position: relative;     
    display: table;  
    margin: 0 auto; 
    text-shadow: 6px 5px 0px rgba(0,0,0,0.6);

}

.intro p{
    font-family:"Times New Roman", serif;
    line-height:1.6;
}

.grade-container {
    margin: 75px;
    padding: 30px;
    background-color:rgb(73, 9, 126);
    background-size: 30px 30px; 
    border: 2px solid rgb(203, 179, 223);
    border-radius: 15px; 
    height: auto   
}
.bloqueado{
    display: block;
    size: 10px;
    height: 20px;
    color: rgb(255, 255, 255);
}
.livre{
    display: inline;
    color: rgb(255, 255, 255);
}
.quadrado_1{
    padding: 50px;
    margin: 20px;
    background-color:rgb(50, 0, 88);
    border-radius: 30px;
    box-shadow:0 10px 15px rgba(0,0,0,0.6);
    display: inline;
    transition:0.3s;
}

.quadrado_1:hover{
    transform:scale(1.1);
}

.junção{
    display: inline-block;
    color: rgb(255, 255, 255);
}
.quadrado2{
    display: inline-block;
    padding: 50px;
    margin: 20px;
    background-color:rgb(50, 0, 88);
    border-radius: 30px;
    box-shadow:0 10px 15px rgba(0,0,0,0.6);
    transition:0.3s;
}

.quadrado2:hover{
    transform:scale(1.1);
}

.etiqueta{
    position: absolute;   
    top: -15px;          
    right: -25px;         
    background-color:rgb(67, 22, 102);
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 2px 2px 0px #000; 
    transition: 0.3s;
}

#topo{
    height: 700px;
}
.block{
    display: block;
}

p{
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.6);
}